* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image {
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url(/img/Study.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-1,
.section-2 {
    max-height: auto; 
}

.cart {
    padding: 0 60px;
}


.footer-image {
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url(/img/student.png);
    background-blend-mode: multiply;
    background-size: 100%;
    background-repeat: no-repeat;

}

